.login-form {
  position: absolute;
  left: 50%;
  top: 250px;
  margin-left: -200px;
  padding: 80px;
  box-shadow: 5px 5px 5px 5px lightgray;
}

i.lock-open-icon {
  position: absolute;
  font-size: 40px;
  left: 50%;
  margin-left: -20px;
  top: 40px;
}

.login-btn {
  width: 92%;
  margin-left: 10px;
  background-color: blue;
}

.forgot-password {
  text-align: center;
}
