ul.navibar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  top: 0;
  margin-top: 0;
  width: 100%;
  position: sticky;
  overflow: hidden;
  background-color: #2765e1;
}

ul.navibar li {
  display: inline;
  margin-left: 10px;
}

ul.navibar li a {
  font-family: "Poppins", sans-serif;
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.navibar li a:hover:not(.active) {
  background-color: #7c9ad8;
}
